<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Dettagli Cliente</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header th:insert="~{fragments/navbar.html}"></header>
    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            <div class="w-100" style="max-width: 600px;">
                <h1 class="text-center">Dettagli Cliente</h1>
                <form th:action="@{/cliente/form}" method="post" th:object="${cliente}">
                    <br>
                    <div>
                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" th:field="*{indirizzo.id}">
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="ragioneSociale">Ragione Sociale</span>
                            <input type="text" id="ragioneSociale" th:field="*{ragioneSociale}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="strada">Strada</span>
                            <input type="text" id="strada" th:field="*{indirizzo.strada}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="provincia">Provincia</span>
                            <input type="text" id="provincia" th:field="*{indirizzo.provincia}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="paese">Paese</span>
                            <input type="text" id="paese" th:field="*{indirizzo.paese}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="cap">C.A.P.</span>
                            <input type="text" id="cap" th:field="*{indirizzo.cap}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="pIva">P.IVA</span>
                            <input type="text" id="pIva" th:field="*{pIva}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="email">Email</span>
                            <input type="text" id="email" th:field="*{email}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="telefono">Telefono</span>
                            <input type="text" id="telefono" th:field="*{telefono}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="alias">Alias</span>
                            <input type="text" id="alias" th:field="*{alias}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="contratto" th:field="*{contratto}" disabled>
                            <label class="form-check-label" for="contratto">Contratto</label>
                        </div>
                    </div>  
                    

                    <!-- visualizzazione nessuna macchina assegnata -->
                    <!-- <div th:if="${#lists.size(cliente.macchina) < 1}">
                        <div class="mb-3">
                            <div class="input-group">
                                <span class="input-group-text" id="macchina">Macchina</span>
                                <input type="text" id="macchina" th:field="*{macchina}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                <a th:href="@{/macchina/componimacchina}" role="button" class="btn btn-secondary">Aggiungi</a>
                            </div>
                        </div>
                    </div> -->
                    <div>
                        <ul class="list-group">
                            <li th:each="macchin : *{macchina}" class="list-group-item d-flex flex-column">
                                <!-- Mostra la matricola della macchina -->
                                <span th:text="${macchin.matricola}"></span>
                                <!-- Pulsante per modificare la singola macchina -->
                                <div class="d-flex justify-content-end mt-auto">
                                    <a th:href="@{/macchina/find/{id}(id=${macchin.id})}" role="button" class="btn btn-secondary">Dettagli</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <!-- Centra i pulsanti -->
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-outline-primary">Salva</button>
                        <button type="button" class="btn btn-outline-secondary mx-2" id="modifica-btn">Modifica</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/js/modificaForm.js"></script>
</body>
</html>
