<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <title>Lista Clienti</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header th:insert="~{fragments/navbar.html}"></header>
    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            <div class="w-100" style="max-width: 1000px;">
                <h1 class="text-center">Lista Clienti</h1>

                <div class="table-responsive">
                    <table class="table table-hover text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ragione Sociale</th>
                                <th scope="col">Macchina</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr th:each="cliente : ${listaclienti}">
                                <td th:text="${cliente.id}">#</td>
                                <td th:text="${cliente.ragione_sociale}">Ragione Sociale</td>
                                <!-- <td th:text="${cliente.macchina.matricola}">Macchina</td> -->

                                <td>
                                    <a th:href="'/cliente/find/' + ${cliente.id}" class="btn btn-secondary" role="button">Dettagli</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center mt-3">
                        <a th:href="@{/home}" class="btn btn-outline-secondary" role="button">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
